main {
    width: 440px; height: 956px;
    margin: 0 auto; padding: 50px 15px 0;
    text-align: center;
}
main form {margin: 30px 0 0 ;}
main form >* {margin: 20px 0 0 ;}
main input {width: 50px; border: 1px solid #d9d9d9; text-align: center;}
main. flower {}
main. flower:;::before {
    content: ''; display: block; width: 100%; height: 50%;
    position: absolute; left: 0;top: 0;
    background: linear-gradient(#fff, transparent);
}
main .flower img {width: 100%;}