// 외부 scc @import 불러오기
@use './common.scss' as *;

// 변수 적용 선택자
main {
    width: 500px;
    @include flex-center;
    @include bg1;/* 공통속성과 값은 mixin->include */
    background-image: url();
    h1 {color:$color-blue;}
    p {
        color:$color-red;
        &:hover {color: $color-blue;}
    }
    .box {
        background-color: #ff0;
        input {
            &:hover {background-color: #aaa;}
            &[type=text] {border: 1px solid $color-blue;}
            &+span {background-color: $color-red;}
        }
        span {background-color: #222; color: #fff;}
        &:nth-child(3) {border: 5px solid $color-blue;}
    }
}
