$White-color: #fff;
$gray:#aaa;
$font-size-l : 1.2rem;
$font-size-m : 0.9rem;
$font-size-s : 0.875rem;
@mixin icon20 {width: 20px; height: 20px;}
@mixin icon24 {width: 24px; height: 24px;}
@mixin img-w100 {width: 100%; height: max-content;}
@mixin flex-row {
    display:flex; flex-flow:row nowrap;
    align-items:center; justify-content:flex-start;
}
@mixin flex-col {
    display:flex; flex-flow:column nowrap;
    align-items:center; justify-content:flex-start;
}
@mixin bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}