@use './common.scss' as*;

#wrap {
    header {@include flex-row; gap: 40px; align-items: center; padding: 40px 0 25px; max-width: 100%; margin: auto 50px ; justify-content:space-between;
        .nav1 {@include flex-row; align-items: center; gap: 35px;
            a{@include flex-col; gap:5px;
                span:first-child {width: 22px;}
                span{background-color: $color-black; width: 17px; height: 2.5px; display: block; 
                }
            }
            h1{width: 134px; height: 23px; margin-right: 150px;
                img{width: 100%;}
        }
        }
        .nav2{@include flex-row; gap: 40px;
            a{font-weight: $font-width-semibold; font-size: $font-size20; color: $color-gray-35; display: block; white-space: nowrap;}
        }
        .rightmenu {@include flex-row; gap: 40px; justify-content: center;
            .brand { background-color: $color-black; color: $color-white; height: 31px; white-space: nowrap;
            border-radius: 16px; padding: 7px 15px; font-weight: $font-width-semibold;}
            .icon_g {@include flex-row; gap: 14px; 
                .icon {width: 40px; height: 40px;
                    img{width: 100%;}
                }    
            }
        }
    }
    main {@include content-w; padding-top: 50px;
        .container {@include flex-row; gap: 100px;
            .overview_img {@include flex-row; gap:20px;
                .tnumnail {@include flex-col;
                    a {@include img;
                        img {@include w-100;}
                    }
                }
                .overview { @include bgimg; overflow: hidden; position: relative;
                    .poto { @include flex-row;
                        img {@include w-100;}
                    }
                    .circle {@include flex-row; gap: 10px; position: absolute; bottom: 26px; left: 275px;
                        span {width: 10px; height: 10px; background-color: black; opacity: 0.5; display: block; border-radius: 50%;
                        }
                        .active{opacity: 1;}
                    }
                }
            }
            .content {max-width: 460px;
            .review {padding: 10px 0 13px;
                    a {font-size: $font-size12; color: $color-gray-35; display: flex; gap: 5px;
                        img {width: 11px;}
                        em {color: $color-gray-70; border-bottom: 1px solid $color-gray-70;}
                    }
                }
                .product_info {
                    h1{font-size: $font-size30; font-weight: $font-width-bold; margin-bottom: 10px; line-height:1.5;  letter-spacing:$letter-spacing-2;}
                    h2{font-size: $font-size15; font-weight: $font-width-mediun; color:$color-gray-66; margin-bottom: 33px; }
                    .sale_price {
                        .sale {font-size: $font-size30; font-weight: $font-width-semibold; color: $color-point; margin-right: 5px;}
                        del{font-size: $font-size18; font-weight: $font-width-mediun; color: $color-gray-99; }
                        .benefit_price {font-weight:$font-width-mediun; font-size: $font-size15; margin: 15px 0 15px;
                            @include flex-row; gap: 10px;  align-items: center; color: $color-gray-99;
                            span {background-color: $color-black; width: 1px; height: 14px; display: block;}
                            em {font-size: $font-size20; color: $color-red; font-weight: $font-width-semibold;}
                        }
                        .delivery {font-size: $font-size14; font-weight: $font-width-mediun; color: $color-gray-70; margin-bottom: 30px;}
                    }
                }
                #orderFrm {
                    padding-bottom: 20px; border-bottom: 2px solid $color-black;
                    .num {padding: 37px 10px; border-top: 1px solid $color-gray-d9; 
                            @include flex-row; justify-content: space-between; align-items: center;
                        .num_text {font-weight: $font-width-mediun;}
                        .num_count {border: 1px solid $color-gray-d9; 
                            .minus_btn {@include numbtn;}
                            #order_num {@include numbtn; width: 33px; text-align: center}
                            .plus_btn {@include numbtn;}
                        }
                    }
                    .price {@include flex-row; justify-content: space-between; align-items: center; border-top: 1px solid $color-gray-d9;
                        .order_price_text {font-size: $font-size17; font-weight: $font-width-semibold; color: $color-gray-59; padding: 30px 0;}
                        .order_price {
                            .price_em {font-size: $font-size30; font-weight: $font-width-bold; color: $color-point;}
                            span {font-size: $font-size14; color: $color-gray-59;}
                            .num_em {}
                        }
                    }
                    .btn_g {@include flex-row;  justify-content: space-between; align-items: center;
                        #cart {@include button; color:$color-point; background-color: $color-white;}
                        #buy {@include button; color: $color-white; background-color: $color-point;}
                        #Present {@include small-button; background-color: $color-red;}
                    }
                }
            }
        }
    }
    footer {/* background-color: aqua; width: 500px; height: 500px; */}
}