$font-size-xl:2rem;
$font-size-l:1.375rem;
$font-size-m:1.063rem;
$font-size-s:0.875rem;
$font-size-xs:0.813rem;
$font-width-mediun:500;
$font-width-semibold:600;
$font-width-bold:700;
$color-black:#000;
$color-white:#fff;
$color-point:#0aa5ff;
$color-gray-light-lv3:#f7f9fa;
$color-gray-light-lv2:#bdbdbd;
$color-gray-light-lv1:#828c94;
$color-gray-dark:#292929;
$color-gray-medium:#757575;
@mixin test-bg1 {background-color: aqua;}
@mixin test-bg2 {background-color: limegreen;}
@mixin content-w {max-width: 1156px; min-width: 320px; margin: 0 auto;}
@mixin flex-row {
    display: flex; flex-flow: row nowrap; justify-content: flex-start;
}
@mixin flex-col {
    display: flex; flex-flow: column nowrap; justify-content: flex-start;
}
@mixin grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
@mixin icon24 {width: 24px; height: 24px;}
@mixin icon20 {width: 20px; height: 20px;}
@mixin icon18 {width: 18px; height: 18px;}
@mixin icon14 {width: 14px; height: 14px;}
@mixin cart_buy_btn {
    width: 165px; height: 57px;
    padding: 0 20px 0; text-align: center;
    border:1px solid #0aa5ff;
}
@mixin border_radius {border-radius: 5px;}
@mixin after_before {content: ''; display: block; position: absolute; left: 0; top: 0;}
@mixin img_w100{width: 100%;}
@mixin thumnail {width: 56px; height: 56px;}
@mixin thumnail-big {width: 559px; height: 559px;}
@mixin select {
    max-width: 360px ;width: 360px; height: 44px; padding: 10px 17px;
    border: 1px solid #0aa5ff;
}